<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Атентифікації</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/autr.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
             <a class="navbar-brand" href="/auth/autorization">Вхід</a>
            <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
        </nav>

        
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>
<div class="aut">
    <form action="/auth/autorization" method="post">
        <h5>Вхід в Систему</h5>
        <input placeholder="login" id="name" type="text"  name="login" class="validate" autocomplete='off'>
        <input id="password" type="password" class="validate" name="password" placeholder="Пароль" autocomplete='off'>
        <button type="submit" id="button">Увійти</button>
    </form>
</div>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

</body>
</html>