<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Атентифікації</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
        <nav>
             <div class="div_header">
                 <a class="navbar-brand" href="/auth/autorization">Вхід</a>
                <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
                <a class="navbar-brand" href="/page/statistic">Статистика усіх військово-службовців</a>
             </div>
        </nav>
    
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>
<form action="/page/anceta" method="POST">
    <div class="aut">
        <div style="width: auto; height: auto" id='type_anceta'>   
        </div>
    <button type="submit" id="button">Відкрити</button>
</div>
</form>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
<script src="/font/mainPage.js"></script>

</body>
</html>