<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка реєстрації</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/model.css">
</head>
<body>

        <nav>
             <div class="div_header">
                <a class="navbar-brand" href="/auth/autorization">Вхід</a>
                <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
             </div>
        </nav>
  
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>

{{#if error}}
    <div class="aut">
        {{message}}
    </div>
{{/if}}


</div>



<div id="myModal" class="my_modal">
    <div  class="my_content">
      <h4>Помилки виявленні при реєстрації</h4>
      <div id="list_error" class="list_errr">
      </div>
      <div class="foot_modal">
          <a href="#!" id="close_modal">Agree</a>
      </div>
    </div>
</div>



<div class="aut" style="margin-top: -10px">
    <form action="/auth/registration" method="post">
        <h5>Реєстрація</h5>
        <input placeholder="Прізвище"  type="text"  name="surname" id="surname" autocomplete='off'>
        <input placeholder="Ім'я"  type="text"  name="name" id="name" autocomplete='off'>
        <input placeholder="По батькові"  type="text"  name="patronime" id="patronime" autocomplete='off'>
        <input placeholder="Посада" type="text" name="position" id="position" autocomplete='off'>
        <div>
            <div style="width: auto; height: auto; background-color: #6F6D5B;">
                <label>Віськове звання користувача</label>
                <select class="browser-default" name="rank" id="rank">
                    <option value="" disabled selected>Вибір Статусу користувача</option>
                    <option value="Лейтенант">Лейтенант</option>
                    <option value="стр.Лейтенант">стр.Лейтенант</option>
                    <option value="Капітан">Капітан</option>
                    <option value="Майор">Майор</option>
                    <option value="Підполковник">Підполковник</option>
                    <option value="Полковник">Полковник</option>
                </select>
            </div>
        </div>
        <input placeholder="Номер військової частини" type="text" name="staff" id="staff" autocomplete='off'>
        <input placeholder="Закінчив інститут" type="text" name="institute" id="institute" autocomplete='off'>
        <input placeholder="Факультет" type="text" name="facultet" id="facultet" autocomplete='off'>
        <input placeholder="За спеціальністю (номер спеціальності)" type="text" name="specialize" id="specialize" autocomplete='off'>
        <input placeholder="Рік випуску" type="text" name="graduation" id="graduation" autocomplete='off'>
        <input type="text" placeholder="Логін" name="login" id="login" autocomplete='off'>
        <input id="password" type="password"   name="password" placeholder="Пароль" autocomplete='off'>
        <input id="repeated_password" type="password"   name="repeated_password" placeholder="Пітвердження пароля" autocomplete='off'>
        <button  type="submit" id="registration">Зареєструватись</button>
    </form>
</div>


<script src="/font/registration.js"></script>
</body>
</html>