<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка реєстрації</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/model.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/auth/autorization">Вхід</a>
            <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
        </nav>
  
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>

{{#if error}}
    <div class="aut">
        {{message}}
    </div>
{{/if}}


</div>



<div id="myModal" class="my_modal">
    <div  class="my_content">
      <h4>Помилки виявленні при реєстрації</h4>
      <div id="list_error" class="list_errr">
          <ul>
              <li>1 Error</li>
              <li>2 Error</li>
              <li>3 Error</li>
              <li>1 Error</li>
              <li>2 Error</li>
              <li>3 Error</li>
              <li>1 Error</li>
              <li>2 Error</li>
              <li>3 Error</li>
          </ul>
      </div>
      <div class="foot_modal">
          <a href="#!" id="close_modal">Agree</a>
      </div>
    </div>
</div>



<div class="aut" style="margin-top: -10px">
    <form action="/auth/registration" method="post">
        <h5>Реєстрація</h5>
        <input placeholder="Прізвище"  type="text"  name="surname">
        <input placeholder="Ім'я"  type="text"  name="name">
        <input placeholder="По батькові"  type="text"  name="patronime">
        <input placeholder="Посада" type="text" name="position" id="position">
        <div>
            <div style="width: auto; height: auto">
                <label>Звання користувача</label>
                <select class="browser-default" name="rank">
                    <option value="" disabled selected>Вибір Статусу користувача</option>
                    <option value="Лейтенант">Лейтенант</option>
                    <option value="стр.Лейтенант">стр.Лейтенант</option>
                    <option value="Капітан">Капітан</option>
                    <option value="Майор">Майор</option>
                    <option value="Підполковник">Підполковник</option>
                    <option value="Полковник">Полковник</option>
                </select>
            </div>
        </div>
        <input placeholder="Військова частина" type="text" name="staff" >
        <label id="staffError" style="color: red"></label>
        <input placeholder="Закінчив інститут" type="text" name="institute">
        <input placeholder="Факультет" type="text" name="facultet">
        <input placeholder="За спеціальністю" type="text" name="specialize">
        <input placeholder="Рік випуску" type="text" name="graduation">
        <input type="text" placeholder="Login" name="login">
        <input id="password" type="password"   name="password" placeholder="Пароль">
        <label id = 'lenghtPassword' style="color: red"></label>
        <input id="password1" type="password"   name="repeated_password" placeholder="Пітвердження пароля">
        <label id = 'errorMessage' style="color: red"></label>
        <button class="btn waves-effect waves-light" type="submit" id="registration">Зареєструватись</button>
    </form>
</div>


<script src="/font/registration.js"></script>
</body>
</html>