<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Атентифікації</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">
    <header class="link">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/auth/autorization" style="font-size: 15px">Вхід</a>
            <a class="navbar-brand" href="/auth/registration" style="font-size: 15px">Реєстрація</a>
            <a class="navbar-brand" href="/page/statistic" style="font-size: 15px">Статистика персоналу</a>
        </nav>
    </header>
</div>

<div class="divclass">
    <h3 class="header1">Пошук корисності</h3>
    <div class="inline" style="width: 100%">
        <p class="range-field" style="width: 100%">
            <input type="number" id="slider"/>
        </p>
        <br>
        <label for="slider">Виберіть дату випуску</label>
    </div>
    {{!-- <div class="input-field col s6">
        <div style="width: auto; height: auto">
            <label>За спеціальністю</label>
            <select class="browser-default" id="specialize">
            </select>
        </div>
    </div> --}}
     <div style="margin-bottom: 10px;">
            <button class="btn waves-effect waves-light" id="find" style="width: 30%;">
                Пошук
            </button>
    </div>
   
</div>

<div class="divclass"  style="margin-top: 30px" hidden = 'true' id="statistic">
        <table  class="table-bordered" style="align-items: center">
            <thead>
               <tr>
                
                <th scope="col">Питання
                </th>
                <th scope="col">Оцінка</th>
            </tr>
            </thead>
               <div class="table-responsive" id="res">
                   <tbody id="tbody">
                    
                   </tbody>
               </div>
        </table>    
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/font/statistic.js"></script>
</body>
</html>