<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Атентифікації</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
        <nav>
             <div class="div_header">
                    <a class="navbar-brand" href="/auth/autorization">Вхід</a>
                <div class="dropdown">
                    <button class="link">Menu</button>
                    <div class="dropdown_content" id="dropdown_content">
                         <ul>
                             <li>
                                 <a class="navbar-brand" href="/page/statistic">Статистика усіх військово-службовців</a>
                             </li>
                             <li>
                                 <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
                             </li>
                             <li>
                                 <a class="navbar-brand" href="/page/information">Інформація військово-службовця</a>
                             </li>
                              <li>
                                 <a class="navbar-brand" href="/page/main">Головна сторінка</a>
                             </li>
                         </ul>
                    </div>
                </div>
             </div>
        </nav>


<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>

<div class="findPerson">
    <div class="inline">
        <label for="slider">Виберіть дату випуску</label>
        <br>
        <p class="range-field" >
            <input type="number" id="slider"/>
        </p>

    </div>
     <div style="margin-bottom: 10px;">
            <button id="find" style="width: 30%;">
                Пошук
            </button>
    </div>
   
</div>

<div class="divclass"  style="margin-top: 30px" hidden = 'true' id="statistic">
        <table  class="table-bordered" style="align-items: center">
            <thead>
               <tr>
                
                <th scope="col">Питання
                </th>
                <th scope="col">Оцінка</th>
            </tr>
            </thead>
               <div class="table-responsive" id="res">
                   <tbody id="tbody">
                    
                   </tbody>
               </div>
        </table>    
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/font/statistic.js"></script>
</body>
</html>