body {
    padding: 0;
    margin: 0;
    background-color: #474F3F;
}

.divclass {
    width: 80%;
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #6F6D5B;
    margin-top: 30px;
    border-radius: 25px;
}
.icon {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.icon img {
    height: 100px;
    width: 100px;
}


.aut{
    text-align: center;
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #6F6D5B;
    margin: 10px auto;
    border-radius: 25px;
    padding: 10px;
}

select{
    background-color: #6F6D5B;
    color: #DFD7CC;
    font-family: Arial, Helvetica, sans-serif;
}


button{
    background-color: #DFD7CC;
    padding: 15px 30px;
    border-radius: 5px;
    border: solid 1px #474F3F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

button:active{
    margin-top: 10px;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::placeholder{
    color: #DFD7CC;
}

h5{
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
}
select{
    padding: 10;
    margin:10px ;
    background-color: #6F6D5B;
    color: #DFD7CC;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    font-size: 1.1rem;
}

label{
    
    font-size: 1.1rem;
    background-color: #6F6D5B;
    color: #DFD7CC;
    font-family: Arial, Helvetica, sans-serif;
}