body {
    padding: 0;
    margin: 0;
    background-color: #474F3F;
}

.divclass {
    width: 80%;
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #6F6D5B;
    margin-top: 30px;
    border-radius: 25px;
}
.icon {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.icon img {
    height: 100px;
    width: 100px;
}


.aut{
    text-align: center;
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #6F6D5B;
    margin: 10px auto;
    border-radius: 25px;
    padding: 10px;
}

select{
    background-color: #6F6D5B;
    color: #DFD7CC;
    font-family: Arial, Helvetica, sans-serif;
}


button{
    background-color: #DFD7CC;
    padding: 15px 30px;
    border-radius: 5px;
    border: solid 1px #474F3F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

