.my_modal{
    display: none;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(88, 88, 88, 0.5);
    z-index: 1000;
}
.my_modal h4{
    text-align: center;
    color: #DFD7CC;
    font-size: 30px;
}

.my_content{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    padding: 25px;
    background-color: #6F6D5B;
    border: solid 1px grey;
    border-radius: 25px;
}



.my_content a{
    margin-right: 10px;
    font-family:  'Open Sans', sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #474F3F;
   
    font-size: 25px;
    background-color: #DFD7CC;
    color: #474F3F;
}
.my_content a:hover{
    color: #474F3F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.foot_modal{
    width: 100%;
    text-align: right;
}