body {
    padding: 0;
    margin: 0;
    background-color: #B3E5FC;
}

.divclass {
    width: 80%;
    padding: 10px 20px;
    margin: 20px auto;

    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    margin-top: 30px;
    border-radius: 25px;
}

.header {
    text-align: center;
    margin: 2% auto;
    padding-bottom: 50px;
}

.aut {
    text-align: center;
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 25px;
    padding: 10px;
}

.aut input {
    margin: 10px;
}

header {
    width: 100%;
    height: auto;
}

.link {
    display: inline;
    margin: 0px 10px;
}

.link a {
    margin: 0px 5px;
}

.aut button {
    height: auto;
    width: 160px;
    margin-top: 10px;
}

@media only screen and (max-width: 770px) {
    .aut button {
        height: auto;
        width: 150px;
        margin-top: 10px;
        font-size: 10px;

    }

    .aut {
        text-align: center;
        width: 70%;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        margin: 10px auto;
        border-radius: 25px;
        padding: 10px;
    }
}

@media only screen and (min-width: 2000px) {
    .aut button {

        width: 200px;
        height: 50px;
        margin-top: 10px;
        font-size: 20px
    }

    .aut {
        text-align: center;
        width: 40%;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        margin: 10px auto;
        border-radius: 25px;
        padding: 10px;
    }

    .aut a {
        font-size: 20px
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin: 50px auto;

}

.icon img {
    height: 100px;
    width: 100px;
}

.header1 {
    text-align: center;

}

.savebutton {
    text-align: center;
    margin: 5% auto;
}

button {
    width: 15%;
    height: 8%;
}

td {
    text-align: justify;
}

@media only screen and (min-width: 770px) {
    .divclass {
        width: 80%;
        padding: 10px 20px;
        margin: 20px auto;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        margin-top: 30px;
        border-radius: 25px;
    }

    .buttonsgroup {
        width: 50%
    }

    .buttonsgroup button {
        font-size: 80%;
    }

    .choose {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .divclass {
        width: 800px;
        padding: 10px 20px;
        margin: 20px auto;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        margin-top: 30px;
        border-radius: 25px;
    }

    .buttonsgroup {
        width: 50%
    }


}

@media only screen and (max-width: 430px) {
    .tbody {
        max-width: 200px;
    }

    .emblema {
        display: none;
    }

    .time {
        display: none;
    }

    .divclass {
        width: 95%;
        padding: 10px 20px;
        margin: 20px auto;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        margin-top: 30px;
        border-radius: 25px;
        font-size: 17px;
    }


    .buttonsgroup {
        width: 100%
    }

    .buttonsgroup button {
        font-size: 80%;
    }

    .header a {
        font-size: 5%
    }
    .choose {
        display: block;
    }
    .header img{
        display: none;
    }
    .header div{
        display: none;
    }
    .savebutton button{
        width: 100px;
        font-size: 80%;
    }
    .input-field label{
        font-size: 15px;
    }
}

.header a {
    font-size: 15px
}

.p1 {
    margin: 25%;
}

.tdcheck {
    max-width: 20px;

}

.tbody p {
    margin-left: 20px;
}

.credit {
    text-align: center;
}

tbody input {
    text-align: center;
}

.option {
    text-align: justify;
    text-indent: 10px;
    padding: 5px;
}

.inline {
    display: inline-flex;
    margin: 20px 0px;

}


.dropdown {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px auto;
    border: none;
    background-color: #ffffff;
}

.findButton {
    border: none;
    background-color: #FFFFFF;
    text-align: left;
    width: auto;
}
