
table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    color: #DFD7CC;
}

input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
}
input[type=radio]:checked {
   background-color: #DFD7CC;
  }

td{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1.2rem;
}
th{
    font-size: 1.2rem;
}

h6{
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
}
